*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
#password{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(112, 111, 111);
    font-size: 1.5rem;
    background-color: antiquewhite;
    cursor: pointer;
    border: 2px solid black;
    
}
#password:focus{
    outline: none;
}